@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

section {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: gray;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: gray;
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: gray;
}

.active {
  color: #57ad56 !important;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: gray;
}
header .header__container {
  width: 100%;
  max-width: 1124px;
  height: 72px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 71px 0 81.38px;
  box-shadow: 0px 0px 16px 0 rgba(38, 38, 38, 0.16);
  position: relative;
}
header .header__container .logo {
  margin-top: 10px;
}
header .header__container .logo2 {
  display: none;
}
@media all and (max-width: 321px) {
  header .header__container .logo2 {
    display: block;
  }
  header .header__container .logo {
    display: none;
  }
}
header .header__container .rightside {
  display: flex;
  align-items: center;
}
header .header__container .rightside .sign {
  width: 80px;
  height: 40px;
  margin-right: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #1d1d1d;
  border: none;
}
header .header__container .rightside .sign:hover {
  background-color: #57ad56;
  color: #ffffff;
}
header .header__container .rightside .register {
  width: 80px;
  height: 40px;
  margin-right: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  background-color: #1d1d1d;
  border: none;
}
@media all and (max-width: 576px) {
  header .header__container .rightside .register {
    margin-right: 0;
    width: 72px;
  }
  header .header__container .rightside .sign {
    margin-right: 12px;
    width: 72px;
  }
}
header .header__container .rightside .register:hover {
  background-color: #57ad56;
}
@media all and (max-width: 576px) {
  header .header__container {
    padding: 0 8px 0 9px;
  }
}

.section1__container {
  width: 100%;
  max-width: 1124px;
  background-color: #ffffff;
  padding: 93px 87px 142px 81px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  grid-row-gap: 49px;
}
.section1__container a {
  text-decoration: none;
}
.section1__container .section1__card {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px;
  background: #ffffff;
  mix-blend-mode: normal;
  border: 1px solid #cecece;
  color: #1d1d1d;
}
.section1__container .section1__card .card__container {
  display: flex;
  flex-direction: column;
}
.section1__container .section1__card .card__container .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 4px;
}
.section1__container .section1__card .card__container .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #626262;
}
.section1__container .section1__card span {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #1d1d1d;
}
.section1__container .section1__card:hover {
  background-color: #f6f6f6;
}

@media all and (max-width: 576px) {
  .section1__container {
    padding: 50px 8px 50px 9px;
  }
}
@media all and (max-width: 375px) {
  .section1__container {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }
}
.footer__container {
  width: 100%;
  max-width: 1124px;
  background: #262626;
  height: 234px;
  padding: 68px 87px 52px 81px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__container .footer__first {
  width: 100%;
  height: 60px;
}
.footer__container .footer__first img {
  width: 193.77px;
  height: 22.69px;
  margin-bottom: 5px;
}
.footer__container .footer__second {
  border-top: 2px solid #838383;
  width: 100%;
  height: 55px;
  display: flex;
}
.footer__container .footer__second .footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  display: flex;
  align-items: flex-end;
  color: #ffffff;
}

@media all and (max-width: 576px) {
  .footer__container {
    padding: 55.76px 9px 52px 9px;
    height: 225px;
  }
  .footer__container .footer__first img {
    margin-bottom: 0;
  }
}
.section {
  position: relative;
}
.section .hero {
  width: 100%;
  max-width: 1124px;
}
@media all and (max-width: 320px) {
  .section .hero {
    display: none;
  }
  .section .hero2 {
    display: block;
  }
}
@media all and (min-width: 321px) {
  .section .hero {
    display: block;
  }
  .section .hero2 {
    display: none;
  }
}
.section .info {
  position: absolute;
  background-color: #ffffff;
  width: 389px;
  height: 204px;
  top: 22%;
  left: 7.2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 37px 32px 38px 37px;
  justify-content: space-between;
  border-radius: 2px;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
}
.section .info .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  display: flex;
  align-items: flex-end;
  color: #1d1d1d;
}
@media all and (max-width: 717px) {
  .section .info .text1 {
    font-size: 24px;
    line-height: 29px;
  }
}
.section .info .text__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.section .info .text__container .text2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: flex-end;
  color: #626262;
}
@media all and (max-width: 321px) {
  .section .info .text__container .text2 {
    margin-bottom: 16px;
  }
}
.section .info .text__container .text3 {
  background: #262626;
  border-radius: 16px;
  color: #ffffff;
  padding: 8.5px 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
}
@media all and (max-width: 321px) {
  .section .info .text__container {
    flex-direction: column;
  }
}
@media all and (max-width: 889px) {
  .section .info {
    width: 389px;
    height: 170px;
    padding: 20px 20px 21px 25px;
  }
}
@media all and (max-width: 717px) {
  .section .info {
    width: 350px;
    height: 150px;
  }
}
@media all and (max-width: 630px) {
  .section .info {
    width: 340px;
    height: 140px;
    top: 18%;
  }
}
@media all and (max-width: 576px) {
  .section .info {
    width: 308px;
    height: 180px;
    left: 6px;
  }
}
@media all and (max-width: 321px) {
  .section .info {
    top: 130px;
    padding-top: 25px;
  }
}

.navbar__container {
  width: 100%;
  max-width: 1124px;
  background-color: #ffffff;
  padding: 0 81px !important;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cecece;
}
.navbar__container img {
  display: none;
}
.navbar__container .nav-link {
  margin-right: 40px;
  padding: 0 !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
  margin-top: 5px;
  cursor: pointer;
}
@media all and (max-width: 899px) {
  .navbar__container .nav-link {
    margin-right: 20px;
  }
}
@media all and (max-width: 685px) {
  .navbar__container .nav-link {
    margin-right: 12px;
  }
}
@media all and (max-width: 576px) {
  .navbar__container .nav-link {
    display: none;
  }
}
@media all and (max-width: 321px) {
  .navbar__container .nav_links2 {
    font-size: 22px;
  }
}
.navbar__container .nav-link:hover {
  color: #57ad56;
}

@media all and (max-width: 685px) {
  .navbar__container {
    padding: 0 50px !important;
  }
}
@media all and (max-width: 576px) {
  .navbar__container {
    flex-direction: column !important;
    padding-top: 0 !important;
    padding-bottom: 0px !important;
    border-bottom: none !important;
    height: 113px !important;
  }
  .navbar__container img {
    display: block;
    margin-top: 12px;
  }
}
.nav_links2 {
  display: none !important;
}

.line {
  display: none !important;
}

@media all and (max-width: 576px) {
  .navv {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    align-items: center;
  }
  .line {
    display: block !important;
    background-color: #ffffff;
    width: 50px;
    height: 2px;
    margin-top: 11px;
    margin-bottom: 26px;
  }
  .nav_links2 {
    display: block !important;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #1d1d1d;
  }
}
@media all and (max-width: 321px) {
  .navbar__container {
    padding-bottom: 72px;
  }
}
.menu__container {
  width: 100%;
  max-width: 1124px;
  padding: 56px 87px 78px 81px;
  background-color: #ffffff;
}
.menu__container .title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  margin-bottom: 32px;
}
@media all and (max-width: 576px) {
  .menu__container .title {
    display: none;
  }
}
.menu__container .grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  grid-row-gap: 49px;
}
.menu__container .grid__container .cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #cecece;
  border-right: none;
  height: 159px;
  cursor: pointer;
}
.menu__container .grid__container .cards .space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}
.menu__container .grid__container .cards .space span {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #1d1d1d;
}
.menu__container .grid__container .cards .space .inner {
  display: flex;
  flex-direction: column;
}
.menu__container .grid__container .cards .space .inner .text1 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #1d1d1d;
  margin-bottom: 4px;
}
.menu__container .grid__container .cards .space .inner .text2 {
  display: none;
}
.menu__container .grid__container .cards:hover .space .inner .text2 {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  display: flex;
  align-items: center;
  color: #626262;
}
@media all and (max-width: 425px) {
  .menu__container .grid__container .cards {
    height: 118px;
    border: none;
    border-bottom: 1px solid #cecece;
  }
  .menu__container .grid__container .cards img {
    width: 102px;
    height: 102px;
  }
  .menu__container .grid__container .cards .space {
    padding: 0;
    padding-bottom: 15px;
  }
  .menu__container .grid__container .cards .space .inner .text1 {
    font-size: 14px;
  }
}
@media all and (max-width: 425px) and (max-width: 321px) {
  .menu__container .grid__container .cards {
    padding-top: 16px;
  }
}
.menu__container .grid__container .cards:hover {
  background-color: #f6f6f6;
}
@media all and (max-width: 889px) {
  .menu__container .grid__container {
    grid-template-columns: 1fr;
  }
}
@media all and (max-width: 321px) {
  .menu__container .grid__container {
    gap: 0;
  }
}

@media all and (max-width: 576px) {
  .menu__container {
    padding: 0 8px 40px 8px;
  }
} /*# sourceMappingURL=style.css.map */
